// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_answer { display: none }

.last_answer {
  border: gray; 
  border-bottom-style: solid; 
  border-width: 2px; 
  }

.rating { 
  margin-right:20px;
  width: 100px;
 }

.answer { width:400px }